# Update your API key and Client ID of the CM account here

# Edit here for unsuppressing email address
UNSUPPRESSING_API_KEY=<api_key>
UNSUPPRESSING_CLIENT_ID=<client_id>
UNSUPPRESSING_LIST_ID=<list_id>


# Edit here for suppressing email address
SUPPRESSING_API_KEY=<api_key>
SUPPRESSING_CLIENT_ID=<client_id>

